# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/leitorDBF/nbproject/private/
/leitorDBF/build/

#virtualenv
virtual/*
/testeDansDbf/nbproject/private/
/testeDansDbf/build/
/backend/nbproject/private/
/backend/build/
!/backend/mongo-java-driver-2.13.3.jar
!/backend/javadbf-1.6.2.jar
/frontend/nbproject/private/
/frontend/build/
/frontend/dist/
/backend/dist/